{% include 'header.html' %}


    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Namn</th>
                <th>Telefon</th>
                <th>Email</th>
                <th>Special</th>
                <th>Övernattning</th>
                <th>Skapad</th>
            </tr>
        </thead>

        <tbody>
            {% for guest in guests %}
            <tr>
                <td>{{ guest.id }}</td>
                <td>{{ guest.name }}</td>
                <td>{{ guest.phone_number }}</td>
                <td>{{ guest.email }}</td>
                <td>{{ guest.special_request }}</td>
                <td>{{ guest.sleep_over }}</td>
                <td>{{ guest.created_at }}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>

    </main>
</body>
</html>