{% include 'header.html' %}

<main>
    <div class="text-area">
        <h2>Välkommen</h2>
        <p>Varmt välkomna till Jonas &amp; Hannas bröllopssida. Här finner du all nödvändig information för  vår stora dag
            och du anmäler dig smidigast här, i annat fall kan du höra av dig via email eller telefon.<br><br>
            <b>Email:</b> <em>jonas.bjarnehall@outlook.com</em><b><br>Tel:</b> <em>0733261860</em>
        </p>
    </div>

{% include 'navfull.html' %}
</main>
</body>
</html>