{% include 'header.html' %}
{% include 'navsmall.html' %}
        <div class="text-area">
        <h2>Dagen</h2>
            <p>Dagen börjar med vigsel i <em>Kölingareds</em> kyrka kl: <b>15:00</b>. Efter vigseln bär det av mot <em>Årås säteri &amp; trädgårdar</em>, endast fem minuter från kyrkan,
                för middag och fest.
            </p>
            <p>När ni anländer på Årås finns det goda parkeringsmöjligheter. Ni som ska övernatta kan därefter installera er i vandrarhemmet <em>Mejeriet</em> för
            att sedan vandra upp mot dansbanan där det serveras bubbel och tilltugg i väntan på att brudparet anländer.<br> Därefter blir det mingel och tid för fotografering
            i <em>Årås</em> vackra miljöer. Efter mingel är det dags för middag och fest i <em>Kvarnen.</em> Under middagen och resten av kvällen kommer det att serveras alkoholhaltiga
            drycker av olika alternativ såväl som alkoholfritt.
</p><hr>

        <h2>Logi</h2>
        <div class="vandrarhem">
            <p>Vi har abonnerat ett vandrarhem som endast ligger ett stenkast från festen. Vandrarhemmet består av olika rum, med två till sex bäddar i varje. Vi kommer att
                placera ut gästerna som önskar övernatta enligt bekantskaper. Övernattningen kostar <b>450</b>kr per person och där ingår sängkläder, handuk och frukost
                som serveras inne i <em>Säteriet.</em> <br><em>OBS</em> Anmäl ert intresse att övernatta tidigt, då det är först till kvarn som gäller.<br>

                
            
            Det finns även två ställplatser för husbil om intresse för detta finns. Meddela oss detta i er anmälan.</p>
            <p>Vi kommer att återkoppla till er angående boende när vi sammanställt anmälningarna.
                <br><small><em>För ytterligare information om boendet kan ni kika på denna länk 
                <a href="https://www.arassateri.se/vandrarhem-mejeriet/"Vandrarhem-mejeriet>Vandrarhem mejeriet</a></em></small>
                </p>
            <hr>
        </div>

        <h2>Barn</h2>
            <p>Denna dag vill vi skapa en kväll för glädje och dans med vuxna vänner och familj, barn lämnas helst hemma men om detta inte är möjligt är ni givetvis välkommna ändå.
                Informera oss så att vi kan planera för detta.</p>
                <hr>
        <h2>Klädsel</h2>
            <p>Vi kommer befinna oss mitt i augustigrönskan på vackra Årås, en charmig plats med historiska byggnader, blommande ängar och grusgångar. Klä er gärna uppklätt för fest,
                ta gärna med en värmande kofta eller dylikt då utomhusmiljön är trevlig att vistas i här.
            </p>
            <hr>

        <h2>Övrigt</h2>
            <p>Vi är så glada att får dela vår dag med er, vilket är en gåva i sig. Vi förväntar oss inget mer än ert sällskap men önskar ni ändå ge oss något skulle vi uppskatta ett
                litet bidrag till vår bröllopsresa.</p>
            <p>Ni som önskar hålla tal, bidra med annat spex eller har övriga frågor kontakta någon av kvällens värdar eller brudpar.<br><br>

                <b>Jonas Bjarnehall</b> Email: <em>jonas.bjarnehall@outlook.com</em> Tel: <em>073-3261860</em><br>
                <b>André Gustavsson</b> Email: <em>example@mail.com</em> Tel: <em>076-3266017</em><br>
                <b>Ebba Leijonn</b> Email: <em>ebbaleijon@hotmail.com</em> Tel: <em>072-1505729</em><br><hr>
            </p>
        </div>
    </main>
</body>
</html>
