{% include 'header.html' %}
{% include 'navsmall.html' %}

    <div class="textkarta">
    <h4>Hitta Hit</h4>
        <p>Kölingareds kyrka och Årås säteri ligger mellan Mullsjö och Ulricehamn. Från kyrkan till Årås är det circa 5 minuter med bil.</p>
    <div/>
        <div id="map"></div>

        <script>

            var lat = 57.885344;
            var lng = 13.648571;

            var map = L.map('map').setView([lat, lng], 9);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var marker = L.marker([57.885344, 13.648571]).addTo(map);

        marker.bindPopup("<b>Årås säteri</b><br>Välkommen hit!");

        var markerChurch = L.marker([57.90956, 13.668342]).addTo(map);

        markerChurch.bindPopup("<b>Kölingared Kyrka</b><br>Välkommen hit!");

        markerChurch.openPopup();

        </script>

        <p>Kyrka: Kölingared 110, 565 93 Mullsjö</p>
        <p>Årås kvarn: Årås 112 Kölingared, 523 75 Dalum</p>
    </main>
</body>
</html>