{% include 'header.html' %}
{% include 'navsmall.html' %}
    <div class="text-area">

        <form action="/sign_up_server" method="POST">
            <fieldset>
                <legend>Anmäl dig till vårt bröllop genom att fylla i
                    formuläret nedan.</legend>
                
                <ol>
                    <li><label for="name">Namn</label><br>
                        <input type="text" name="fullname" id="name">
                    </li>

                    <li>
                        <label>
                            <input type="checkbox" id="bring_partner" name="bring_partner">
                            Jag tar med en partner
                        </label>
                    </li>

                    <li id="partner_name_field" style="display:none;">
                        <label for="partner_name">Partners namn</label><br>
                        <input type="text" name="partner_name" id="partner_name">
                    </li>

                    <li><label for="email">Email</label><br>
                        <input type="text" name="email" id="email">
                    </li>

                    <li><label for="phone">Telefonnummer</label><br>
                        <input type="text" name="phone" id="phone">
                    </li>

                    <p>Har du några allegier, specialkost eller annat vi borde veta?</p>
                    <li>
                        <label>
                            <input type="checkbox" id="special" name="special">
                            Ja
                        </label>
                    </li>

                    <li id="special_field" style="display:none;">
                        <label for="special_field">Anteckna nedan</label><br>
                        <input type="text" name="special_field" id="special_field">
                    </li>

                    <p>Önskar du övernatta på Åråskvarn?</p>
                    <li>
                        <label>
                            <input type="checkbox" id="sleep_over" name="sleep_over">
                            Ja
                        </label>
                    </li>

                    <li id="sleep_over_field" style="display:none;">
                        <p>Vi har abonnerat ett vandrarhem på Årås kvarn om 28 platser
                            uppdelade i rum om 2-6 bäddar. Om ni önskar övernatta här kostar
                            det 450kr per person inklusive sängkläder och frukost. Det är först
                            till kvarn som gäller och vi som värdar delar upp bäddar efter bekantskapskrets.
                            <br>
                            Det finns även två stycken ställplatser för van/husbil kostnadsfritt. Även här
                            först till kvarn.
                        </p>
                        <label for="sleep_over_field">Ange antal personer och önskat boende</label><br>
                        <input type="text" name="sleep_over_field" id="sleep_over_field">
                    </li>
                    

                </ol>
                <input class="submit-button" type="submit" value="Skicka">
            </fieldset>
        </form>
    </div>

    <script>

        {% if show_alert == "true" %}
            window.alert("Du måste fylla i namn, samt telefonnummer och eller mejl-adress!")
        {% endif %}


        document.getElementById("bring_partner").addEventListener("change", function() {
            const partnerField = document.getElementById("partner_name_field");
            partnerField.style.display = this.checked ? "block" : "none";
        });

        document.getElementById("special").addEventListener("change", function() {
            const specialField = document.getElementById("special_field");
            specialField.style.display = this.checked ? "block" : "none";
        });

        document.getElementById("sleep_over").addEventListener("change", function() {
            const sleepField = document.getElementById("sleep_over_field");
            sleepField.style.display = this.checked ? "block" : "none";
        });

    </script>

    </main>
</body>
</html>
