{% include 'header.html' %}
{% include 'navsmall.html' %}
    <div class="text-area">
        <h2>Anmäl dig här</h2>

        <form>
            <label for="namn">Namn: <small>Person &amp; Eventuell partner</small></label><br>
            <input type="text" id="namn" name="namn"><br>

            <label for="namn">Allergi / specialkost</label><br>
            <input type="text" id="namn" name="namn"><br>

            <label for="namn">Övriga frågor / upplysningar</label><br>
            <input type="text" id="namn" name="namn"><br>
            
            <p>Önskar övernatta:
            <input type="radio" id="jag kommer" name="answer" value="jag kommer">
            <label for="jag kommer">Ja</label>

            <input type="radio" id="kommer inte" name="answer" value="kommer inte">
            <label for="kommer inte">Nej</label><br>

            <p>Önskar ställplats:
            <input type="radio" id="jag kommer" name="answer" value="jag kommer">
            <label for="jag kommer">Ja</label>

            <input type="radio" id="kommer inte" name="answer" value="kommer inte">
            <label for="kommer inte">Nej</label><br>

            <h2>Jag ska bli helt jävla sketfull!!!:</h2>
            <input type="radio" id="jag kommer" name="answer" value="jag kommer">
            <label for="jag kommer">Ja</label>

            <input type="radio" id="kommer inte" name="answer" value="kommer inte">
            <label for="kommer inte">Nej</label><br>

            <input type="submit" value="Skicka">
        </form>
    </div>
    </main>
</body>
</html>
